.post-list {
  list-style: none;
  padding: 0;
}

.post-item {
  margin-bottom: 2rem;
}

.post-meta {
  color: var(--text-muted);
  font-size: 0.9rem;
}

.recent-post.shimmer {
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.recent-post {
  background: linear-gradient(90deg, rgba(255,0,0,0.2) 0%, rgba(255,154,0,0.2) 10%, rgba(208,222,33,0.2) 20%, rgba(79,220,74,0.2) 30%, rgba(63,218,216,0.2) 40%, rgba(47,201,226,0.2) 50%, rgba(28,127,238,0.2) 60%, rgba(95,21,242,0.2) 70%, rgba(186,12,248,0.2) 80%, rgba(251,7,217,0.2) 90%, rgba(255,0,0,0.2) 100%);
  background-size: 1000px 100%;
}
